In [353]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%pip install seaborn
import seaborn as sns

73534.56s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Requirement already satisfied: seaborn in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from seaborn) (2.0.1)
Requirement already satisfied: pandas>=1.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from seaborn) (3.9.1)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /Users/gabrielslotnisky/Library/Python/3.12/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /Users/gabrielslotnisky/Library/Python/3.12/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/gabrielslotnisky/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [354]:
data = pd.read_csv('./StudentsPerformance 2.csv')

In [355]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [356]:
data.head(3)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93

In [357]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [358]:
#transformo en numerico las columnas que son categoricas, en 0 y 1
data["gender"] = le.fit_transform(data["gender"])
data["lunch"] = le.fit_transform(data["lunch"])
data["test preparation course"] = le.fit_transform(data["test preparation course"])

In [359]:
data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,0,group B,bachelor's degree,1,1,72,72,74
1,0,group C,some college,1,0,69,90,88
2,0,group B,master's degree,1,1,90,95,93
3,1,group A,associate's degree,0,1,47,57,44
4,1,group C,some college,1,1,76,78,75
...,...,...,...,...,...,...,...,...
995,0,group E,master's degree,1,0,88,99,95
996,1,group C,high school,0,1,62,55,55
997,0,group C,high school,0,0,59,71,65
998,0,group D,some college,1,0,68,78,77
999,0,group D,some college,0,1,77,86,86

In [360]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()

data = pd.concat([data, pd.get_dummies(data["race/ethnicity"]).apply(lambda x: x.astype(int))], axis=1)

In [361]:
data = data.drop('race/ethnicity', axis=1)
data

,gender,parental level of education,lunch,test preparation course,math score,reading score,writing score,group A,group B,group C,group D,group E
0,0,bachelor's degree,1,1,72,72,74,0,1,0,0,0
1,0,some college,1,0,69,90,88,0,0,1,0,0
2,0,master's degree,1,1,90,95,93,0,1,0,0,0
3,1,associate's degree,0,1,47,57,44,1,0,0,0,0
4,1,some college,1,1,76,78,75,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,master's degree,1,0,88,99,95,0,0,0,0,1
996,1,high school,0,1,62,55,55,0,0,1,0,0
997,0,high school,0,0,59,71,65,0,0,1,0,0
998,0,some college,1,0,68,78,77,0,0,0,1,0
999,0,some college,0,1,77,86,86,0,0,0,1,0

In [362]:
data["parental level of education"].unique()

array(["bachelor's degree", 'some college', "master's degree",
       "associate's degree", 'high school', 'some high school'],
      dtype=object)

In [363]:
data.columns

Index(['gender', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score', 'group A', 'group B', 'group C', 'group D', 'group E'],
      dtype='object')

In [364]:
# Defino el mapeo de los niveles de educación a valores numéricos
education_mapping = {
    "some high school": 0,
    "high school": 1,
    "some college": 2,
    "associate's degree": 3,
    "bachelor's degree": 4,
    "master's degree": 5
}
# Aplico el mapeo 
data['parental level of education'] = data['parental level of education'].map(education_mapping)
data

,gender,parental level of education,lunch,test preparation course,math score,reading score,writing score,group A,group B,group C,group D,group E
0,0,4,1,1,72,72,74,0,1,0,0,0
1,0,2,1,0,69,90,88,0,0,1,0,0
2,0,5,1,1,90,95,93,0,1,0,0,0
3,1,3,0,1,47,57,44,1,0,0,0,0
4,1,2,1,1,76,78,75,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,5,1,0,88,99,95,0,0,0,0,1
996,1,1,0,1,62,55,55,0,0,1,0,0
997,0,1,0,0,59,71,65,0,0,1,0,0
998,0,2,1,0,68,78,77,0,0,0,1,0
999,0,2,0,1,77,86,86,0,0,0,1,0

In [365]:
y = data ['math score']
y

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64

In [366]:
# excluimos la columna math score para obtener las x de nuestra función
X = data.drop('math score', axis=1)
X

,gender,parental level of education,lunch,test preparation course,reading score,writing score,group A,group B,group C,group D,group E
0,0,4,1,1,72,74,0,1,0,0,0
1,0,2,1,0,90,88,0,0,1,0,0
2,0,5,1,1,95,93,0,1,0,0,0
3,1,3,0,1,57,44,1,0,0,0,0
4,1,2,1,1,78,75,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
995,0,5,1,0,99,95,0,0,0,0,1
996,1,1,0,1,55,55,0,0,1,0,0
997,0,1,0,0,71,65,0,0,1,0,0
998,0,2,1,0,78,77,0,0,0,1,0
999,0,2,0,1,86,86,0,0,0,1,0

In [367]:
from sklearn.model_selection import train_test_split

In [368]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=100)
X_train

,gender,parental level of education,lunch,test preparation course,reading score,writing score,group A,group B,group C,group D,group E
675,0,2,1,0,64,66,0,1,0,0,0
358,1,2,0,1,62,61,0,0,0,1,0
159,1,3,0,1,62,64,0,0,0,1,0
533,0,3,1,0,88,94,0,0,0,0,1
678,1,3,0,1,75,78,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
855,0,4,1,1,97,96,0,1,0,0,0
871,0,2,1,0,72,76,0,0,1,0,0
835,0,1,1,0,64,74,0,0,1,0,0
792,1,1,0,1,74,69,0,0,0,1,0
520,1,2,1,1,49,52,0,0,0,1,0

In [369]:
X_test

,gender,parental level of education,lunch,test preparation course,reading score,writing score,group A,group B,group C,group D,group E
249,1,1,1,1,60,53,0,0,1,0,0
353,0,3,1,1,58,57,0,0,1,0,0
537,0,1,1,1,66,62,0,0,0,1,0
424,1,2,0,1,39,34,0,1,0,0,0
564,1,4,0,1,51,46,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
684,1,2,1,0,66,68,0,1,0,0,0
644,1,1,1,1,65,60,0,1,0,0,0
110,0,3,0,0,89,98,0,0,0,1,0
28,1,1,1,1,70,65,0,0,1,0,0
804,0,2,1,1,76,78,0,0,1,0,0

In [370]:
y_train

675    50
358    59
159    66
533    79
678    81
       ..
855    97
871    70
835    60
792    66
520    71
Name: math score, Length: 800, dtype: int64

In [371]:
y_test

249    68
353    46
537    51
424    41
564    48
       ..
684    62
644    70
110    77
28     70
804    73
Name: math score, Length: 200, dtype: int64

In [372]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [373]:
y_lr_train_pred = lr.predict(X_train)
y_lr_test_pred = lr.predict(X_test)

y_lr_train_pred

array([ 56.09371784,  64.4767184 ,  66.23797861,  85.40677393,
        79.5012444 ,  78.05019628,  73.77729058,  54.76189695,
        87.43564457,  74.5603007 ,  50.70143431,  51.34072375,
        74.36174677,  51.49794172,  47.95624258,  71.09719541,
        58.94178601,  52.01818298,  67.58561933,  33.26178344,
        66.23704265,  78.64427799,  52.24746033,  65.35809368,
        39.03544149,  67.20874807,  60.30983475,  53.80667299,
        79.06326469,  62.03380591,  78.59531733,  60.20765917,
        30.63264761,  78.90511899,  83.1186224 ,  52.24687916,
        58.05643768,  61.9048364 ,  60.7588051 ,  67.67272949,
        63.10609342,  77.22796801,  66.72816669,  65.41041006,
        58.43596979,  59.02060932,  51.04251275,  80.05263379,
        48.03365089,  76.40750644,  72.16144565,  57.15018114,
        69.66485167,  80.0442926 ,  71.15495994,  67.69851994,
        62.25332829,  54.92090083,  76.62366837,  61.49548767,
        59.78489096,  59.27688823,  62.89977949,  46.30223624,
        72.48499492,  75.9012531 ,  75.02170588,  49.425662  ,
        63.37647849,  66.50717602,  50.36920167,  64.62827318,
        60.26501401,  68.24466989,  88.85217828,  69.95784284,
        49.11826961,  66.27361708,  47.28774626,  72.03659515,
        74.88603283,  58.12511143,  64.16615151,  58.11816703,
        67.72473118,  72.40787656,  59.8268465 ,  65.84453068,
        69.08222429,  77.92490375,  64.74849204,  90.43980268,
        70.9826315 ,  54.96219876,  61.24563148,  65.1984494 ,
        54.6262239 ,  58.68558942,  61.74919035,  52.90533146,
        77.79379915,  71.32051088,  75.96252161,  24.1311109 ,
        72.12017569,  57.826977  ,  78.6079123 ,  63.5197003 ,
        89.06353097,  68.7010118 ,  52.43129101,  51.56451251,
        73.89704887,  89.04753525,  75.9170621 ,  87.74277342,
        55.304784  ,  67.92176795,  67.44390872,   4.03108794,
        71.31551491,  56.90874392,  86.73811943,  82.17934088,
        57.30522893,  59.35342314,  47.4553934 ,  91.14660525,
        79.53820397, 100.40775623,  50.24657592,  76.47496021,
        44.84910015,  61.22744228,  83.35664823,  57.73952466,
        57.01030242,  68.02344468,  77.68221965,  56.12891891,
        68.83847076,  62.23313343,  87.79325796,  49.81608599,
        91.0346197 ,  67.86795299,  91.64609378,  79.3931728 ,
        49.36474006,  70.34616176,  65.94667035,  47.34140007,
        69.0487495 ,  95.33285753,  54.56044554,  24.34147196,
        72.80178971,  66.40687477,  33.91139569,  71.60053269,
        78.13269681,  64.78307141,  55.59038056,  81.18760997,
        85.63247994,  82.15963455,  82.61848653,  36.19457334,
        69.1593486 ,  47.51283056,  67.46219905,  65.74701909,
        54.75146777,  76.35292851,  51.12588204,  71.92607838,
        62.72147484,  43.97988096,  45.5231781 ,  70.41470204,
        43.3109824 ,  78.98195645,  65.29625433,  57.22402981,
        74.7795018 ,  60.40988644,  31.58329426,  74.64293006,
        73.65286682,  63.91560624,  78.037996  ,  61.58271167,
        49.375051  ,  43.23940294,  75.31047617,  60.38850392,
        72.53607098,  46.07703371,  71.84372522,  77.50530358,
        49.24179543,  78.68818806,  61.53830064,  43.65381933,
        68.89877563,  66.95585052,  64.55162827,  70.24520153,
        72.99121235,  58.88920526,  55.06202644,  50.91380315,
        75.35472013,  49.80623799,  74.37783091,  64.91277263,
        64.05383436,  55.52461928,  49.05098444,  33.0764452 ,
        71.32517509,  90.63144199,  48.40333036,  49.84776063,
        73.32773083,  80.80871591,  72.91786043,  30.75735075,
        78.65682046,  58.52572112,  58.04339063,  65.77784378,
        73.63560326,  77.62129771,  26.58747057,  54.0514533 ,
        60.40092816,  68.97233283,  70.60111955,  72.59791855,
        76.69174386,  82.91569322,  56.04632471,  78.46084642,
        63.9818302 ,  55.08079681,  79.24779342,  54.83749562,
        38.20756648,  38.35901126,  61.1768395 ,  67.25305721,
        71.74503519,  58.78555879,  89.43660679,  60.56133121,
        43.73450239,  66.54760954,  61.33917825,  54.5092637 ,
        81.21597666,  80.60995074,  69.8990171 ,  53.89293767,
        79.0256066 ,  50.75966391,  57.41921741,  62.4664115 ,
        79.25028046,  58.42837913,  67.93251601,  57.06656015,
        74.93486003,  45.48692256,  62.29350189,  46.04195087,
        68.56195535,  63.04983569,  77.72545936,  65.188012  ,
        79.52823774,  83.05862819,  65.85238362,  44.14764633,
        44.92218641,  83.06906559,  72.51480095,  71.97023772,
        67.81188535,  51.71865175,  85.03053707,  76.70702944,
        60.43867781,  78.44033267,  68.68539883,  67.23957276,
        90.12383621,  66.28253944,  69.93674793,  46.31891863,
        65.36432981,  65.09887774,  53.66238175,  67.91810806,
        72.36981241,  67.22138356,  61.25995711,  79.05390735,
        58.23101651,  66.1510063 ,  39.93942672,  54.35355254,
        65.75733004,  77.12203313,  44.07695659,  41.49088822,
        59.97264455,  96.05425587,  24.37635414,  76.65988801,
        71.04571101,  74.61652252,  39.80466434,  50.90925717,
        82.39365831,  57.51305178,  79.17473507,  87.34793691,
        66.42913431,  54.09091041,  67.53539087,  54.15677958,
        74.77903064,  73.19237019,  49.76472081,  86.41466994,
        67.78188923,  77.66100651,  52.82891478,  77.25933561,
        65.37267101,  36.79223462,  59.15594228,  61.41060718,
        54.75404401,  71.30677464,  51.3606031 ,  67.99912059,
        71.40608638,  46.00258678,  60.94374348,  53.28433552,
        69.45887983,  72.99714668,  72.04060161,  79.53808574,
        25.17077357,  52.31356606,  63.51879176,  80.69798789,
        67.74309338,  22.43701762,  76.14622944,  71.42534501,
        91.60530287,  50.94580628,  71.40657464,  61.29612424,
        86.73528786,  81.52593706,  42.92973611,  65.17382487,
        93.47253409,  65.88237974,  41.88573296,  57.22021936,
        44.08837287,  70.00083092,  85.31705851,  72.85996243,
        61.45877541,  67.33768162,  68.57656035,  38.81154485,
        73.32136761,  61.99066271,  81.34493794,  33.27529134,
        23.38766427,  51.10887017,  80.81993727,  42.75873936,
        76.30385174,  37.53931868,  69.97907023,  48.10045602,
        86.29907487,  71.54158872,  75.05419726,  70.49656015,
        67.16892104,  67.37687524,  93.94824463,  61.41872443,
        68.56821916,  46.41680015,  89.24800642,  64.11067326,
        47.02419558,  58.25606778,  86.46732027,  54.20576765,
        52.65408668,  85.27781264,  58.84916697,  78.64406675,
        66.66557342,  42.5409883 ,  58.05148013,  86.82198757,
        84.87463494,  75.41137568,  43.81254411,  85.06256364,
        63.5812205 ,  52.84919196,  80.78593908,  56.73748281,
        49.63821654,  48.23162362,  77.08274901,  55.36364564,
        64.62893217,  43.89709283,  50.55621744,  50.39217331,
        73.17131141,  66.67403284,  87.99790634,  63.06164261,
        64.44400437,  37.86497302,  68.26267127,  85.55606326,
        79.00602672,  52.21942103,  76.19362257,  73.01774275,
        82.6161746 ,  90.82056071,  80.42233883,  69.76248587,
        83.84069996,  59.7109706 ,  70.9093619 ,  68.82484463,
        70.9268538 ,  76.80222472,  47.16648965,  75.27332058,
        62.06492394,  84.82591328,  74.51547557,  69.37109801,
        75.74305173,  43.43083123,  71.35833226,  85.80072534,
        63.07355091,  71.48299132,  63.21092755,  49.84232879,
        76.48889564,  60.13946546,  58.77880672,  66.29599484,
        44.06960461,  97.3616472 ,  85.03828   ,  60.80202848,
        74.88117853,  66.49560996,  33.60193413,  72.51059968,
        71.89446968,  65.85037797,  74.74023478,  75.10644853,
        90.87045734,  62.5414396 ,  57.24463646,  77.85197186,
        61.81903256,  60.66819172,  48.96761514,  86.79546988,
        46.15474805,  62.2333028 ,  70.83540323,  58.63194383,
        55.96783528,  44.87367162,  70.10940585,  57.15610046,
        64.34134953,  72.69736376,  54.313089  ,  64.31820277,
        80.91146206,  87.54346688,  83.28587828,  72.12594065,
        58.55919379,  66.98021513,  79.22750363,  66.07713844,
        62.37455487,  46.84250541,  78.83778132,  57.10002607,
        78.30331779,  69.59965887,  89.06605392,  60.05613207,
        62.95872346,  51.78913387,  64.2170142 ,  58.95589216,
        61.88105525,  34.49165884,  75.01234613,  53.24509789,
        55.1179376 ,  64.49548877,  57.01178155,  67.30625966,
        87.88298162,  70.39058913,  49.69743565,  54.57362606,
        74.51904706,  70.00553104,  75.26693391,  67.37699347,
        91.77737961,  28.63763453,  43.75280982,  56.56101444,
        35.04350417,  82.09327712,  75.97144398,  70.82680211,
        48.43544002,  59.8935334 ,  54.61780173,  52.80286003,
        66.88439391,  29.88230278,  74.01908057,  62.25193971,
        46.45853305,  82.81745089,  71.52142977,  49.56009491,
        61.84180939,  69.6557436 , 105.6691591 ,  73.48760735,
        56.50696302,  70.94357134,  65.62440393,  54.15318479,
        59.37845035,  66.99221622,  52.05375398,  51.83561195,
        65.13348055,  84.84017381,  72.42572358,  71.54210601,
        61.63635726,  49.9220211 ,  52.03248758,  70.70374748,
        68.96939121,  43.099406  ,  50.99867925,  88.1109613 ,
        73.48703677,  53.11756925,  65.55423013,  60.75860444,
        25.17077357,  84.23571981,  87.16984351,  52.85401857,
        79.71405502,  51.55617131,  61.12930469,  75.6981532 ,
        76.71897365,  59.96806266,  76.86902985,  61.33097875,
        69.77684373,  67.84535127,  84.84928187,  48.55000755,
        72.58188692,  64.88415426,  81.64712773,  58.14587686,
        92.34680766,  93.7256556 ,  65.68731271,  51.80790212,
        78.71365936,  67.36251739,  51.80929282,  53.61330286,
        68.19190133,  67.55541635,  41.77590285,  57.11245031,
        78.00190983,  65.98392114,  87.35914557,  85.83104655,
        48.00515075,  62.18116765,  91.1194958 ,  56.48161207,
        64.72832487,  59.26585257,  64.71153247,  83.16228289,
        62.30161474,  66.17902642,  61.24644921,  26.52063311,
        53.6978324 ,  92.79301033,  79.75285087,  60.38416345,
        76.254874  ,  78.32171824,  86.07399057,  55.03468653,
        86.75950194,  56.83011665,  83.88452907,  93.03566213,
        81.70828862,  51.81676062,  68.30875152,  64.29227064,
        79.1876766 ,  52.43816131,  81.59655264,  67.46175135,
        41.63976499,  59.51320911,  86.74131274,  50.48777203,
        44.46791768,  76.39647078,  66.17128348,  70.91851261,
        59.58703433,  63.59264043,  59.88579047,  64.7283331 ,
        66.38075272,  80.15195376,  64.0145885 ,  70.5812123 ,
        87.94250466,  58.29067059,  67.18678075,  81.31206353,
        60.74863821,  78.22817146,  36.40356913,  71.61905136,
        88.806179  ,  65.00357246,  80.35564981,  87.75797593,
        76.5899382 ,  46.01926917,  83.6035209 ,  90.9811239 ,
        73.54841084,  66.27073691,  67.04013275,  74.55045269,
        52.22759285,  71.33638375,  44.8927503 ,  90.6527226 ,
        78.05596125,  68.97409133,  59.09126104,  81.43298854,
        66.23704265,  81.67479038,  50.64918305,  73.92295756,
        65.19411466,  40.55901805,  51.22952852,  58.27656443,
        64.6846726 ,  73.05756978,  66.40470898,  86.08640211,
        66.36256563,  69.53158339,  82.47642934,  61.14815602,
        60.43325941,  35.8409013 ,  21.69885592,  66.75740214,
        87.88298162,  70.56324705,  69.65166056,  63.61987022,
        64.1315487 ,  73.70438636,  60.29939735,  81.83465944,
        74.72703929,  64.07930566,  63.29719224,  63.51196559,
        73.98359266,  60.73704441,  77.93276492,  59.16897537,
        44.3074323 ,  63.81751348,  55.06142818,  65.5575988 ,
        88.60155521,  60.2292168 ,  86.83485951,  52.82465662,
        85.3049286 ,  73.00134795,  57.24523472,  75.66468053,
        69.74973216,  82.07917096,  68.64356614,  63.6962869 ,
        85.29140151,  55.89596458,  53.04671698,  71.59468676,
        56.44873554,  81.77755176,  92.03482315,  51.07370735,
        74.28341073,  53.13192256,  66.28555744,  81.34377332,
        92.22019865,  89.33578823,  75.54691967,  67.43831448,
        75.55616941,  48.510466  ,  69.62480069,  58.8303966 ,
        53.52550396,  75.0730486 ,  76.35988113,  68.47883321,
        69.53479766,  60.94434174,  52.13863008,  73.52584525,
        90.98721834,  60.82716818,  78.32032966,  44.9761196 ,
        82.27255818,  56.10529212,  53.4113632 ,  61.09439794,
        58.59905908,  57.26191712,  64.37581066,  88.35909122,
        64.22266093,  61.23669202,  73.57101256,  58.22042493])

In [374]:
y_lr_test_pred

array([61.92926173, 50.10487151, 56.55664017, 40.34169588, 51.11237414,
       85.52942734, 80.39870382, 66.64115632, 89.85580791, 62.55555398,
       78.4108525 , 79.12517826, 85.07558614, 69.08162603, 64.33785824,
       45.9692114 , 67.70109617, 55.21208264, 72.0466544 , 44.76920741,
       88.2958891 , 77.19177531, 70.39816134, 48.76259799, 71.93952314,
       65.63274513, 66.84077144, 60.99828316, 92.75630245, 77.59524734,
       64.49993263, 50.05833272, 60.82192052, 71.15284665, 68.47769632,
       58.23104419, 77.81140489, 86.25207127, 86.80839871, 65.23740766,
       91.88936729, 77.01606211, 82.66636792, 80.34530295, 51.29620483,
       82.80457895, 89.03159279, 55.50851807, 61.16836484, 73.06017369,
       61.67356399, 68.73449481, 71.5722079 , 72.10985652, 53.22513986,
       66.35482058, 51.81426535, 70.59961274, 80.98799697, 77.37376605,
       39.86239297, 82.28515754, 55.62720455, 76.1686072 , 68.16912449,
       47.11480896, 50.14078695, 64.20890134, 54.67909823, 51.61919832,
       60.03584667, 75.1714326 , 90.98670105, 61.15649722, 66.31840629,
       58.68808333, 87.94290372, 48.19204829, 69.24987143, 58.39701153,
       71.00687349, 46.31057744, 57.45896211, 51.76223809, 60.90506586,
       71.54842311, 52.76839889, 76.67583045, 49.59121294, 74.50482245,
       97.75665308, 92.25175407, 79.617372  , 72.04394471, 54.3593175 ,
       70.37722291, 74.50739868, 75.96912766, 45.98801768, 56.84357205,
       74.85615494, 73.81170982, 85.46831758, 82.01097725, 77.46984259,
       82.48488877, 67.22517877, 63.51184736, 90.66005825, 51.92707075,
       53.21111603, 72.18395688, 79.7379352 , 77.30633921, 54.74170209,
       64.6376838 , 61.69024638, 59.39949516, 52.21993832, 95.65107817,
       74.59399284, 72.72099665, 62.39912633, 81.47196774, 15.74209368,
       84.20708882, 97.62240588, 89.60485219, 60.40293382, 66.67660908,
       71.50463127, 82.57234111, 82.78673193, 71.09796228, 76.00583554,
       70.4789544 , 68.54228702, 57.34043   , 71.76877809, 74.46696517,
       73.03941648, 80.25608849, 79.42352184, 84.69771887, 48.05862122,
       75.57159669, 90.63144199, 60.15827174, 65.5749146 , 96.56714545,
       70.26662382, 64.07350479, 58.75627704, 49.28393877, 47.51283878,
       42.85412684, 63.30916988, 60.28337394, 58.88781668, 81.86728428,
       78.72350736, 80.02463274, 78.30371686, 84.98753554, 75.81061204,
       64.25647342, 84.33907868, 62.90247396, 88.82238136, 50.16112924,
       52.74812172, 45.48118528, 63.57056299, 64.60207229, 82.63116685,
       38.25544711, 54.29898284, 67.67849445, 72.57362669, 83.59286339,
       87.50284741, 47.50390819, 58.11468225, 67.55529813, 59.27431199,
       52.99716018, 66.42318502, 60.36748105, 74.3861721 , 67.86405565,
       73.39606623, 73.95355829, 66.86530465, 70.82386872, 67.52704967,
       71.44062848, 69.22802234, 80.51993039, 73.0197484 , 70.03803764])

In [391]:
#rendimiento del modelo
from sklearn.metrics import mean_squared_error, r2_score

lr_train_mse = mean_squared_error(y_train, y_lr_train_pred)
lr_train_r2 = r2_score (y_train, y_lr_train_pred)

lr_test_mse = mean_squared_error(y_test, y_lr_test_pred)
lr_test_r2 = r2_score(y_test, y_lr_test_pred)

In [398]:
print(f"Train MSE: {lr_train_mse}")
print(f"Test MSE: {lr_train_r2}")
print(f"Train R2: {lr_test_mse}")
print(f"Test R2: {lr_test_r2}")

Train MSE: 28.39970257897362
Test MSE: 0.8784025033120337
Train R2: 28.85795370315266
Test R2: 0.8607429633805346

0.8784025033120337

In [394]:
lr_test_mse

np.float64(28.85795370315266)

In [395]:
lr_test_r2

0.8607429633805346